@import url('href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$font-light: 'Outfit', sans-serif;
html{
    min-width: 375px;
    min-height: 100%;
    background-color: hsl(212, 45%, 89%);
}
body{
    display: flex;
    justify-content: center;
   
}
.main-box{
    z-index: 1;
    margin-top: 3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 530px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    .qr{
        .qr-img{
            display: inline-block;
            justify-content: space-evenly;
            width: 325px;
            border-radius: 10px;
        }
        padding: 15px 20px;
    }
        
    .main-c{
        padding-right : 25px;
        padding-left: 25px;
        padding-bottom:10px ;
        display: inline-block;
        font-family: $font-light;
        font-weight: 700;
        text-align: center;
        color: hsl(218, 44%, 22%);
       }
    .main-d{
        display: inline-block;
        padding-right : 25px;
        padding-left: 25px;
        text-align: center;
        font-family: $font-light;
        font-weight: 400;
        color: hsl(220, 15%, 55%);
    }
   
}
.footer{
    position: absolute;
    z-index: 0;
    margin: 40%;
    font-family: $font-light;
    font-weight: 300;
    color:hsl(220, 15%, 55%);
}

